/*@charset "UTF-8";*/

.custom-bg{
	background:#8bc34a!important;
}

/*.admin .card{
	border: 2px solid green;
}

.admin .card:hover{
	background: #e2e2e2;
   background: rgb(0, 255, 64);
	cursor: pointer;
}*/